<h3>ask your teacher anything:</h3>
<form action="/answer" method="get">
  <input type="text" placeholder="your question" name="question" id ="question">
  <input type="submit" id="btn">
</form>
<%= @ask %>
