// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  display: flex;
  #question {
    width: 80%;
    height: 30px;
  }
  #btn {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
  }
}
